.button-admin {
    display: none;
}

body.admin {
    .button-admin {
        display: block;
    }
}

.admin-header {
    margin: 0;
    height: 1.5em;
    background-color: $turqoise;
    line-height: 1.5em;
    color: $white;
    padding: 0 0 0 10px;
}

.admin-header-back {
    position: absolute;
    left: 20px;
    top: 10px;
    height: 30px;
    border: 0;
    border-radius: 0 3px 3px 0;

    &:hover,
    &:active {
        background-color: $white;
    }

    &:before {
        position: absolute;
        top: 0;
        left: -15px;
        content : '';
        display: block;
        width:0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid $white;
    }

    &:after {
        position: absolute;
        top: 14px;
        left: -15px;
        content : '';
        display: block;
        width:0;
        height: 0;
        border-bottom: 16px solid transparent;
        border-right: 15px solid $white;
    }
}