.chat-container {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;
}

.chat {
    position: absolute;
    top: 0;
    bottom: 0;

    background-color: rgba($white, 0.9);

    @include transition( left, 0.2s, ease-in-out );
}

.chat-header {
    margin: 0;
    height: 1.5em;
    background-color: $turqoise;
    line-height: 1.5em;
    color: $white;
}

.chat-header-back {
    position: relative;
    margin-left: 40px;
    height: 30px;
    border: 0;
    border-radius: 0 3px 3px 0;

    &:hover,
    &:active {
        background-color: $white;
    }

    &:before {
        position: absolute;
        top: 0;
        left: -15px;
        content : '';
        display: block;
        width:0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid $white;
    }

    &:after {
        position: absolute;
        top: 14px;
        left: -15px;
        content : '';
        display: block;
        width:0;
        height: 0;
        border-bottom: 16px solid transparent;
        border-right: 15px solid $white;
    }
}

.chat-header-title {
    padding-left: 30px;
}

.chat-window {
    margin-top: 30px;
}

.chat-entry {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;

    height: 40px;

    background-color: $lightgrey;
}