.matches-header {
    margin: 0;
    height: 1.5em;
    background-color: $turqoise;
    line-height: 1.5em;
    color: $white;
}

.matches-choices {
    width: 100%;
    padding: 10px 10px;
}
.matches-choice {
    width: 50%;

    &.active {
        background-color: $lightgrey;

        &:focus {
            outline: 0;
        }
    }

    .badge {
        top: -2px;
        left: 3px;
        background-color: red;
    }
}

.matches-results {
    display: none;
}

.matches-intro {
    padding: 30px 10px;
    line-height: 1.6em;
}

.match-row {
    padding: 10px;
    width: 100%;
    border-top: 1px solid $lightgrey;

    .match-row-image {
        padding: 10px 5px 5px 10px;
        vertical-align: top;
    }
}

.match-row-image-container {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.match-row-meta {
    padding: 0 10px;
    width: 100%;
}

.match-chat {
    border: 0;
    border-radius: 0;

    &:hover, &:active, &focus {
        background-color: $white;
        outline: 0;
    }

    .glyphicon {
        font-size: 1.8em;
    }

    .match-chat-icon-two {
        position: relative;
        z-index:2;
        left: -10px;
        top: 3px;
        transform: scale(-1, 1);

        color: $mediumgrey;
        font-size: 1.5em;
    }
}