.matches-header {
    margin: 0;
    height: 1.5em;
    background-color: $turqoise;
    line-height: 1.5em;
    color: $white;
}

.matches-choices {
    width: 100%;
    padding: 10px 10px;
}
.matches-choice {
    width: 50%;

    &.active {
        background-color: $lightgrey;

        &:focus {
            outline: 0;
        }
    }
}

.matches-results {
    display: none;
}

.matches-intro {
    padding: 30px 10px;
    line-height: 1.6em;
}

.match-row {
    border-top: 1px solid $lightgrey;
    padding: 10px;

    .match-row-image {
        padding: 10px 5px 5px;
        vertical-align: top;
    }
}

.match-row-image-container {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.match-row-meta {
    padding: 0 10px;
}