<div class="intro">
    <h1 class="intro-logo">Art(f)inder</h1>
    <em class="intro-tagline">like art &amp; find your museum+buddy</em>


    <form class="form intro-form">

        <div class="form-group">
           <label for="email">LOGIN OR <a href="#">CREATE ACCOUNT</a></label>
           <input type="text" class="form-control" id="email" placeholder="Enter email">
        </div>

        <div class="form-group">
           <label for="password">PASSWORD </label><a href="#" class="password-forget">forgot password?</a>
           <input type="password" class="form-control" id="password" placeholder="Enter password">
        </div>

        <div class="intro-submit-container text-center">
            <button type="submit" class="btn btn-default intro-submit">Login</button>
        </div>
        
    </form>
</div>