<div class="score-card">
    <div class="score-card-image" style="background-image:url('{{image}}');">
    </div>

    <div class="score-card-meta">
        {{title}} ({{date}}) by {{artist}}
    </div>

    <div class="score-card-buttons">
<button type="button" class="btn btn-default score-button score-dislike"><span class="glyphicon glyphicon-remove"></span></button><button type="button" class="btn btn-default score-button score-like"><span class="glyphicon glyphicon-ok"></span></button>
    </div>
</div>